<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-status="{{devoured}}">
		{{#if devoured}}Yum!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
